.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html,body{
  overflow-x: hidden!important;
  scrollbar-color:rgba(0,0,0,0);
  max-width: 100%;
  height: 100vh;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.site-back-top-basic {
  background-color: white;
  color: #000;
  z-index:100!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*404 404 404 404*/

.bg404{
  background-image: url('./IMG/bg404.png');
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c404-container h1{
  font-size: 155px;
  margin-bottom: -55px;
}

.c404-container p{
  font-size: 55px;
}
.c404-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c404-container a{
  text-decoration: none;
}

.btn-404{
  background-color: #571FEE;
  border: 2px solid #571FEE;
  color: white;
  width: 100px;
  padding: 7px 15px;
  cursor: pointer;
  font-family: 'Quicksand' ;
  font-weight: bold;
}

.btn-404:hover{
  background-color: #fff;
  color: black;
}

._2tga._8j9v{
  background-color: azure!important;
}





/*SERVICES CARDS */

.float-shadow {
	display: inline-block;
	position: relative;
	transition-duration: .3s;
	transition-property: transform;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
	.float-shadow:before {
		pointer-events: none;
	  position: absolute;
	  z-index: -1;
	  content: '';
	  top: 100%;
	  left: 5%;
	  height: 10px;
	  width: 90%;
	  opacity: 0;
	  background: radial-gradient(ellipse at center, rgba(0,0,0,.35) 0%,rgba(0,0,0,0) 80%); /* W3C */
		transition-duration: .3s;
		transition-property: transform opacity;
	}

	.float-shadow:hover {
		transform: translateY(-5px); /* move the element up by 5px */
  }
  .float-shadow:hover:before {
			opacity: 1;
			transform: translateY(5px); /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
		}



/* Hover Shadow */
@keyframes hover {
	50% {
		transform: translateY(-3px);
	}

	100% {
		transform: translateY(-6px);
	}
}

@keyframes hover-shadow {
	0% {
		transform: translateY(6px);
		opacity: .4;
	}

	50% {
		transform: translateY(3px);
		opacity: 1;
	}


	100% {
		transform: translateY(6px);
		opacity: .4;
	}
}